<abs-tables [tableconfig]="tableBreakpoints" [tableHeader]="invoiceTableHeaderList.text" [responsive]="true">
  <caption>Invoice Details</caption>
  <thead>
    <tr>
      <th id="heading1"  key="0" scope="col" role="columnheader" abs-table-header [priority]="0">{{invoiceTableHeaderList[0].text}}</th>
      <th id="heading2"  key="1" scope="col" role="columnheader" abs-table-header [priority]="2">{{invoiceTableHeaderList[1].text}}</th>
      <th id="heading3"  key="2" scope="col" role="columnheader" abs-table-header [priority]="3">{{invoiceTableHeaderList[2].text}}</th>
      <th id="heading4"  key="3" scope="col" role="columnheader" abs-table-header [priority]="4">{{invoiceTableHeaderList[3].text}}</th>
      <th id="heading5"  key="4" scope="col" role="columnheader" abs-table-header [priority]="5">{{invoiceTableHeaderList[4].text}}</th>
      <th id="heading6"  key="5" scope="col" role="columnheader" abs-table-header [priority]="6">{{invoiceTableHeaderList[5].text}}</th>       
      <th id="heading7"  key="6" scope="col" role="columnheader" abs-table-header [priority]="7">{{invoiceTableHeaderList[6].text}}</th>
      <th id="heading8"  key="7" scope="col" role="columnheader" abs-table-header [priority]="8">{{invoiceTableHeaderList[7].text}}</th>       
      <th id="heading9"  key="8" scope="col" role="columnheader" abs-table-header [priority]="1">{{invoiceTableHeaderList[8].text}}</th>
    </tr>
  </thead>
  <tbody>
    <tr abs-responsive-row [isSummary]="false" [responsive]="true" [rowData]="rowData.accountNumber" *ngFor="let rowData of invoiceObject;let $index=index " [id]="$index" [ngClass]="{'odd': $odd && zebraStripFlag}" class="data-row has-button" [headersId]="'rowheader_t2_'+$index" [headerName]="invoiceTableHeaderList[0].text" role="row" >       
      <td [attr.headers]="'rowheader_t2_'+$index+' heading2'" abs-table-body>{{rowData.label}}</td>
      <td [attr.headers]="'rowheader_t2_'+$index+' heading3'" abs-table-body >{{rowData.date | date}}</td>
      <td [attr.headers]="'rowheader_t2_'+$index+' heading4'" abs-table-body  >{{rowData.invoiceNumber}}</td>
      <td [attr.headers]="'rowheader_t2_'+$index+' heading5'" abs-table-body >{{rowData.service}}</td>
      <td [attr.headers]="'rowheader_t2_'+$index+' heading6'" abs-table-body class="text-right">{{rowData.currentCharges}}</td>
      <td [attr.headers]="'rowheader_t2_'+$index+' heading7'" abs-table-body >{{rowData.adjustments}}</td>
      <td [attr.headers]="'rowheader_t2_'+$index+' heading8'" abs-table-body >{{rowData.previousBalance}}</td>
      <td [attr.headers]="'rowheader_t2_'+$index+' heading9'" abs-table-body class="text-right">{{rowData.totalAmount}}</td>
    </tr>
  </tbody>
</abs-tables>