<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
  
    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order </th>
      <td mat-cell *matCellDef="let order"> {{ order.orderNumber }} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let order"> {{ order.name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="PON">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PON </th>
      <td mat-cell *matCellDef="let order"> {{ order.PON }}</td>
    </ng-container>
  
    <ng-container matColumnDef="endCustomer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End Customer </th>
      <td mat-cell *matCellDef="let order"> {{ order.endCustomer }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
        <td mat-cell *matCellDef="let order"> {{ order.date | date : 'shortDate' }}</td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  