<!-- <mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let order of orders" 
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ order.END_CUSTOMER }}
      </mat-panel-title>
      <mat-panel-description>
        {{ order.Source }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <hr>
    <p>{{ order.PON }}</p>
    <p>{{ order.ASR }}</p>
  </mat-expansion-panel>
</mat-accordion> -->

<!-- 
  TO DO: figure out how to incorporate panel expansion into the table
  This component is currently not part of the demo app core funtionality
  Un-comment the <app-order> element in app.component.html to view this component
-->