<mat-accordion>
  <mat-expansion-panel *ngFor="let order of orders" 
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ order.description }}
      </mat-panel-title>
      <mat-panel-description>
        {{ order.commonId }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <hr>
    <p>{{ order.address }}</p>
    <p>{{ order.endCustomer }}</p>
  </mat-expansion-panel>
</mat-accordion>