<!--
  Template-drive approach to Angular forms.
  Angular will not automatically detect the inputs in a form.
  Register form controls via 'ngModel' on the input element.
  Set the local reference to the form on the form element.
-->
<h3>Template-Driven Example</h3>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div id="user-data">
    <div>
      <label for="username">Username</label>
      <!-- this input is actually a control of the form -->
      <input
        type="text"
        id="username"
        ngModel
        name="username"
        required>
    </div>
    <button
      class="btn btn-default"
      type="button"
      (click)="suggestUserName()">Generate Username</button>
    <div>
      <label for="email">Email</label>
      <input
        type="email" 
        id="email" 
        ngModel
        name="email"
        email
        required
        #registrationEmail="ngModel">
        <!-- email is directive available to Angular -->

        <p *ngIf="!registrationEmail.valid && registrationEmail.touched">Please enter a valid email.</p>
    </div>
  </div>
  <div>
    <label for="secret">Secret Questions</label>
    <select
      id="secret"
      ngModel
      name="secret">
      <option value="pet">Your first Pet?</option>
      <option value="teacher">Your first teacher?</option>
    </select>
  </div>
  <div *ngFor="let language of language">
    <label for="{{ language }}">
      <input
        type="radio"
        name="language"
        ngModel
        [value]="language"
        id="{{ language }}"
        required>
        {{ language }}
    </label>
  </div>
  <!--
    The default behavior of HTML on type submit buttons in form elements, this will submit the form already.
    There is no need to place a click event on this submit button.
    See the ngSubmit directive placed on the form element instead.
  -->
  <button
    type="submit"
    [disabled]="!form.valid">Submit</button>
</form>
