<div class="mat-app-background basic-container">
  <h1>
    {{ title }}
  </h1>

  <app-table></app-table>
  <app-order></app-order>

  <br>
  <div class="button-row">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button routerLink=".">Link</a>
    </div>
</div>