<div class="mat-app-background basic-container">
  <h1>
    {{ title }}
  </h1>

  <app-accordion></app-accordion>

  <!-- <app-search></app-search> -->

  <!-- <app-form></app-form>
  <app-form-reactive></app-form-reactive> -->

  <!-- <app-modal-test></app-modal-test> -->

  <!-- <app-table></app-table> -->

  <!-- not using the order component for now- currently experimenting with expandable/collapsible panels in it -->
  <!-- <app-order></app-order> -->

  <!-- <app-export></app-export> -->

  <!-- <app-footer></app-footer> -->

</div>